# ディレクトリ毎
scripts
test
packages
typechain

# ファイル毎
hardhat.config.ts
tsconfig.json
yarn.lock
.env
.env.example
.eslintignore
.eslintrc.js
.nvmrc
.prettierignore
.prettierrc
.solhint.json
.solhintignore

#Hardhat files
cache
artifacts
cache-zk
artifacts-zk
coverage
coverage.json

# Ignored Solidity files
contracts/mocks/AdminMock.sol
contracts/upgradeable/mock/AdminUpgradeableMock.sol